<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Gallery</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 text-white p-10">

     <div class="nav">
      <a href="/read" class="text-blue-300 underline ">show All users</a>
     </div> 
        <h1 class="text-4xl inline-block mb-2 mt-10"> Create Users </h1>
        <form method="post" action="/create" class="flex gap-5 flex-wrap ">
            <input type="text" class="px-5 py-3 border-2 border-zinc-600 rounded-md outline-none bg-transparent mt-2" name="name" placeholder="name"/>
            <input type="text" class="px-5 py-3 border-2 border-zinc-600 rounded-md outline-none bg-transparent mt-2" name="email" placeholder="email"/>
            <input type="text" class="px-5 py-3 border-2 border-zinc-600 rounded-md outline-none bg-transparent mt-2" name="image" placeholder="imageURL"/>
            <input type="submit" value="Create User" class="bg-blue-500 rounded-md p-3 hover:bg-blue-400 mt-5
            ">
        </form>
    </div>
  </body>
</html>
